.section {
    margin-bottom: 160px;
}

.title {
    font-weight: 500;
    font-style: italic;
    color: #FFB743;
    font-size: 2rem;
    line-height: 2.1875rem;
    margin-bottom: 10px;
}

.title span {
    color: #F6F2FF;
}

.subtitle {
    color: #A098B1;
    font-size: 1.3125rem;
    line-height: 1.4375rem;
    max-width: 410px;
    margin-bottom: 48px;
}


.cardsContainer {
    overflow: auto;
    display: flex;
    padding: 0px 8px 16px 8px;
    gap: 40px;
    position: relative;
}

/* Cards na horizontal */
.cardsContainer > div {
    min-width: 408px;
}

.shadowContainer {
    position: relative;
}

.portalShadow {
    display: block;
    width: 120px;
    background: linear-gradient(270deg, #0A0511 0%, rgba(10, 5, 17, 0.89) 47.27%, rgba(10, 5, 17, 0.00) 92.62%);
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: none;
}

@media (max-width: 880px) {
    .cardsContainer {
        gap: 24px;
    }

    .portalShadow {
        width: 40px;
        background: linear-gradient(270deg, #0A0511 0%, rgba(10, 5, 17, 0.00) 92.62%);
    }
    
    /* Cards na vertical */
    .cardsContainer > div {
        min-width: 230px;    
    }
}


@media (max-width: 550px) {
    .subtitle {
        font-size: 1.125rem;
        line-height: 1.375rem;
    }
}