.label {
    font-size: 1.125rem;
    line-height: 1;
    margin-bottom: 7px;
    display: block;
    color: #F6F2FF;
}

.input {
    box-sizing: border-box;
    width: 100%;
    border: none;
    outline: none;
    border: 1px solid #1F1630;
    border-radius: 7px;
    background-color: #0E0815;
    color: #DAD2EC;
    transition: 150ms;

    font-size: 1rem;
    line-height: 1;
    padding: 12px 12px;
    font-weight: 400;
    font-family: 'Ubuntu';
}

.input::placeholder {
    color: #4A4358;
}

.input:focus {
    border-color: #754CCD;
    box-shadow: 0 0 0 1px #B8AFC9;
}

.passwordContainer {
    position: relative;
}

.passwordIconContainer {
    position: absolute;
    display: flex;
    /* 12px: input de 48px */
    /* 10px: input de 44px */
    /* 6px: input de 44px mas o icon tem padding pra cima e baixo */
    top: 6px;
    right: 8px;
    padding: 4px 4px;
    height: max-content;
    
    cursor: pointer;
    transition: 150ms;
    opacity: 0;
}

.passwordIconContainer path {
    transition: 150ms;
    fill: #4A4358;
}

.passwordContainer:has(.input:autofill) path,
.passwordContainer:has(.input:-webkit-autofill) path {
    fill: #F6F2FF;
}

.passwordContainer:active .passwordIconContainer,
.passwordContainer:has(.input:focus) .passwordIconContainer {
    opacity: 1;
}

@media (pointer: fine) {
    .passwordIconContainer:hover path {
        fill: #DAD2EC;
    }

    .passwordContainer:hover .passwordIconContainer {
        opacity: 1;
    }
}

@media (pointer: coarse) {
    .passwordIconContainer:active path {
        fill: #DAD2EC;
    }

}