.label {
    font-size: 1.125rem;
    line-height: 1;
    margin-bottom: 7px;
    display: block;
    color: #F6F2FF;
}

.input {
    box-sizing: border-box;
    width: 100%;
    border: none;
    outline: none;
    border: 1px solid #1F1630;
    border-radius: 7px;
    background-color: #0E0815;
    color: #DAD2EC;
    transition: 150ms;

    font-size: 1rem;
    line-height: 1;
    padding: 12px 12px;
    font-weight: 400;
    font-family: 'Ubuntu';
}

.input::placeholder {
    color: #4A4358;
}

.input:focus {
    border-color: #754CCD;
    box-shadow: 0 0 0 1px #B8AFC9;
}

.passwordContainer {
    position: relative;
}

.passwordIconContainer {
    position: absolute;
    display: flex;
    /* 12px: input de 48px */
    /* 10px: input de 44px */
    /* 6px: input de 44px mas o icon tem padding pra cima e baixo */
    top: 6px;
    right: 8px;
    padding: 4px 4px;
    height: max-content;
    
    cursor: pointer;
    transition: 150ms;
    opacity: 0;
}

.passwordIconContainer path {
    transition: 150ms;
    fill: #4A4358;
}

.passwordContainer:has(.input:autofill) path,
.passwordContainer:has(.input:-webkit-autofill) path {
    fill: #F6F2FF;
}

.passwordContainer:active .passwordIconContainer,
.passwordContainer:has(.input:focus) .passwordIconContainer {
    opacity: 1;
}

@media (pointer: fine) {
    .passwordIconContainer:hover path {
        fill: #DAD2EC;
    }

    .passwordContainer:hover .passwordIconContainer {
        opacity: 1;
    }

    .forgotPassword:hover {
        color: #D1BAFF;
    }
}

@media (pointer: coarse) {
    .passwordIconContainer:active path {
        fill: #DAD2EC;
    }

    .forgotPassword:active {
        color: #D1BAFF;
    }
}

.buttonCheckboxContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.buttonCheckbox {
    height: 18px;
    width: 18px;
    background-color: #0E0815;
    border-radius: 5px;
    border: 1px solid #1F1630;
    transition: 150ms;
    display: flex;
    place-content: center;
    place-items: center;
}

.buttonCheckbox::after {
    content: '';
    display: block;
    transition: 150ms;
    opacity: 0;
    border-radius: 3px;
    height: 10px;
    background-color: #754CCD;
    width: 10px;
}

.buttonCheckboxContainer.buttonChecked .buttonCheckbox::after {
    opacity: 1;
}

.checkboxText {
    font-size: 1rem;
    line-height: 1;
    font-family: 'Ubuntu';
    color: #E3DCF1;
    user-select: none;
}

.forgotPassword {
    color: #8E65DF;
    font-size: 1rem;
    line-height: 1;
    font-weight: 400;
    text-decoration: underline;
    display: inline-block;
    max-width: max-content;
    cursor: pointer;
    font-family: 'Ubuntu';
    transition: 150ms;
}

.ghostButton,
.filledButton {
    font-size: 1rem;
    line-height: 1;
    font-weight: 500;
    border: 2px solid #754CCD;
    color: #F6F2FF;
    padding: 12px 22px;
    width: 100%;
    text-align: center;
    border-radius: 7px;
    
    transition: 150ms;
}

.filledButton {
    background-color: #754CCD;
}

@media (pointer: fine) {
    .filledButton:hover {
        background-color: #563799;
        border-color: #563799;
    }

    .ghostButton:hover {
        background-color: #754CCD;
    }
}

@media (pointer: coarse) {
    .filledButton:active {
        background-color: #563799;
        border-color: #563799;
    }

    .ghostButton:active {
        background-color: #754CCD;
    }
}

.divisorContainer {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto 1fr;
    gap: 18px;
}

.hintText {
    font-size: 1rem;
    line-height: 1;
    font-family: 'Ubuntu';
    color: #F6F2FF;
    width: 100%;
    align-items: center;
}

.divisorLine {
    height: 2px;
    width: 100%;
    background-color: #1F1630;
}